.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.left-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    padding: 0 2.5rem;
}

.right-login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url("../registration/images/sale.jpg");
    height: 100%;
    width: 100%;
}

.title-class {
    height: 40%;
    background: #0ABAB5;
}

form {
    width: 100%;
}

img {
    width: 100%;
}

.brand {
    font-family: 'Comfortaa', cursive;
}

