.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #EFEEEE;
    position: sticky;
    display: inline-block;
}
.sidebarWarpper {
    padding:20px;
}
.sidebarMenu {
    margin-bottom: 10px;
}
.sidebarTitle {
    font-size: 13px;
    padding-top: 10%;
    font-size: 25px;
    font-family: 'Comfortaa' ;
    text-align: center;
}
.sidebarList {
    list-style: none;
    padding: 15px;
    margin-top: 55px;

}
.sidebarListItem {
    padding: 15px;
    display: flex;
    align-items: center;
    font-size:'Comfortaa' ;
    width: 250px;
    
}
.sidebarListItem:hover {
   padding: 15px;
    background-color: #81D8D0;
   
    
}
.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}
.bottomItem {
    padding-top: 350px;
    
    display: flex;
    align-items: center;
    font-size:'Comfortaa' ;
    width: 250px;

}
.account-button {
    background-color: bisque;
}